@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700|Shrikhand&display=swap');

#page {
  background: #222f3e url(/assets/lights.jpg);
  background-position: center; -webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; 
  background-size: cover;
  font-family: 'Raleway', sans-serif !important;
}


#main {
  background: -webkit-linear-gradient(rgba(6,82,221,0.5) 0%, rgba(8,82,220,0.5) 1%, rgba(237,76,103,0.5) 100%);
  background: -o-linear-gradient(rgba(6,82,221,0.5) 0%, rgba(8,82,220,0.5) 1%, rgba(237,76,103,0.5) 100%);
  background: linear-gradient(rgba(6,82,221,0.5) 0%, rgba(8,82,220,0.5) 1%, rgba(237,76,103,0.5) 100%);	
  width: 100%;
  min-height: 100vh;
}



#paper {
  background-color: rgba(34,47,62, 0.7) !important;
}


h1, h4, h5 {
  padding: .5em 0 ;
  color: #9980FA;
}

h5 {
  padding-bottom: 0;
  margin-bottom: 0;
}

p {
  padding: 1em 0;
 
}
.input-item {
  width: 150px; 
  height: 150px;
  border-radius: 50%;
  margin: 2%;
  text-transform: uppercase;
  white-space: normal;
}

.submit-item {
  margin: 2%;
}
.submit-item:hover, .submit-item:focus {
  background: #341f97;
  border-color: #341f97;
  box-shadow: -1px 0px 10px -2px rgba(0,0,0,0.75);
  color: #FFF;
}

.pink:hover, .pink:focus {
  background: #ED4C67;
  color: #FFF;
  
}

.blue:hover, .blue:focus{
  background: #0abde3;
  color: #FFF;
  
}

.neutral:hover, .neutral:focus {
  background: #341f97;
  color: #FFF;
  
}

input[type=text], input[type=email] {
  background: transparent;
  border: 1px solid #FFF;
  margin-bottom: .5rem;
  padding: .5em 1em;
  color: #FFF;
  text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFF;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFF;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFF;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FFF;
}

/* ---------------------------------------------------
     Overrides
----------------------------------------------------- */

.react-datepicker, .react-datepicker__header  { 
 background: transparent !important;
}

.react-datepicker__current-month, .react-datepicker__day-name, .react-datepicker__day  {
  color: #FFF !important;
}
.react-datepicker__day:hover {
  background-color: #9980FA !important;
}
.react-datepicker__day--selected {
  background-color: #9980FA !important;
}
.MuiGridListTile-tile {
  overflow: inherit
}

.MuiGridListTile-root, .MuiGridListTile-tile  { 
  display: inline !important;
}

.geosuggest__input {
  width: 100%;
}
